body{
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}
.landingpage{
    height: 100%;
    width: 100vw;
    display: flex;
   
    justify-content: space-between;


}
.navbar{
    height: 20%;
    width: 100vw;
    flex-direction: row;
    display: flex;
  
   
}
.logo{
   
    height: 70%;
 
    
}
.navbar-left{
    height: 100%;
    width: 50%;
   
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-right{
    height: 100%;
    width: 50%;
    position: relative;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.navbar-items{
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    align-items: center;
 margin-right: 15px;
    text-align: center;
}
.vl {
  background-color: #2F93E9;
  width: 1px;
  height:90px;
  }

/* }
.lefthalf{
    position: relative;
    height: 100vh;
    width:50%;
    position: relative;

}


.landingpageillustration{
    height: 70%;
    width: 95%;
}
.righthalf{
    position: relative;
    height: 100vh;
    width:50%;
  
  

}
.navbar{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navbar-item{
    margin:null;
    margin-right: 15px;
    align-items: center;
} */



/* justify con feComponentTransferalign centre */
